p {
    font-family: 'Roboto';
    font-size: 18px;    
}
p.pretty {
    text-align: justify;
}
h1 {
    font-family: 'Roboto';
    font-size: 36px;  
}
body {
    width: 100%;
    max-width: 1400px;
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
    background-color: white;
}
header {
    width: 100%;
    max-width: 1400px;
    min-height: 100px;    
    border: 1px solid #7ba376;
    position: relative;
    display: flex; 
    justify-content: space-around;     
  
}
.logo-box {
    max-width: 500px;    
    display: flex;
    position: relative;       
    align-items: center;  
    justify-content: center;
}
.logo-title {
    font-style: italic;
    font-weight: bold;
    color: #7ba376;    
    display: flex;    
    text-shadow: 2px 2px 2px #000000;    
}
nav {
    min-width: 300px;
    min-height: 100px;    
    display: flex;
    align-items: flex-end;
    justify-content: space-around;    
    list-style: none;
    flex-direction: row;
    border: 1px solid red;
}
li {
    list-style: none; 
    text-decoration: none;   
    display: inline;
    font-size: 20px; 
    margin-right: 10px; 
    margin-left: 10px;  
    font-family: 'Roboto' sans-serif;
    font-weight: bold;
    color: #7ba376;
               
} 
li:hover {
    font-weight: bold;
    color: #7ba376;
    text-decoration: underline;
} 
.earth {
    width: 99%;
    height: 50vh;
    margin: 5px 5px 0 5px;
    position: relative;
    opacity: 80%;    
}
.container {
    max-width: 1250px;
    width: 100%;
    margin: 0 5px 5px 5px;
    display: flex;    
    flex-wrap: wrap;    
    flex-direction: row;    
    background: #7ba376;
}
.card {    
    max-width: 500px;
    margin-right: 30px;
    padding: 0 0 0 20px;
    display: flex;    
    flex-wrap: wrap;    
    flex-direction: column;
    border: 1px solid #7ba376;
}
.card-two {
    max-width: 400px;
    margin-left: 30px;
    display: flex;    
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    border: 1px solid #7ba376;
}
.text-box {    
   max-width: 300px; 
   position: relative;
   margin: 5px;
   border: 2px solid #7ba376;
   border-radius: 10%; 
}
h2 {
    font-family: 'Roboto', sans-serif;
    color: #7ba376;
}
form {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    
}
input, textarea {
    background: whitesmoke;
    padding: 2px;
    border: 2px solid #7ba376; 
}
label {
    background: #5e9b56;
    padding: 2px;
    margin-top: 10px;
}
button {
    background: #5e9b56; 
    margin-top: 10px;
    border-radius: 10%;
}
input:hover, textarea:hover, button:hover {
    cursor: pointer;
    background: #c0dbbd;
}

footer {
    width: 99%;
    max-width: 1400px;    
    font-family: 'Roboto', sans-serif;
    background-color: white;    
    padding: 40px 0 0 40px;  
    text-align: center;   
    padding-bottom: 25px;
    align-items: flex-start;
}
.social {
    font-size: 24px;
    text-align: center;    
    padding-bottom: 25px;        
}
footer .social a {    
    width: 40px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    border: 1px solid #7ba376;
    color: #7ba376;
    border-radius: 50%;
    padding: 5px;
    margin: 5px;
}
footer ul {
    font-size: 20px;    
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;    
}
footer ul li {
    display: inline-block;
    padding: 0 15px;
}
footer ul li a {
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: #7ba376;
    text-decoration: none;
}
footer .social a:hover {
    color: #385532; 
    cursor: pointer; 
 }
footer ul li a:hover {
    font-weight: 700;
    color: #7ba376;
    text-shadow: 1px 1px 1px #385532;
}
@media screen and (max-width: 1100px) {
    footer {
        position: relative;
         top: 200px;
         left: 50px;
    }
}
@media screen and (max-width: 750px) {
    footer {
        position: relative;
        top: 570px;
    }
 }
 @media screen and (max-width: 600px) {
    footer {
        position: relative;
        top: 670px;
    }
 }