.theme {
    color: #7ba376;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: white;
}
header {
    width: 99%;
    max-width: 1400px;
    height: 100px;    
    border: 1px solid #7ba376;
    position: relative;
    display: flex; 
    justify-content: space-around;     
    border: 1px solid red;
}
.logo-box {
    max-width: 500px;
    min-height: fit-content;
    display: flex;
    position: relative;
    
    
    
}
.logo-title {
    font-style: italic;
    font-weight: bold;
    color: #7ba376;
    position: relative;
    display: flex;    
    text-shadow: 2px 2px 2px #000000;
}
.logo {
    position: relative;    
    display: flex;
    
} 
nav {
    min-width: 300px;
    min-height: 100px;    
    display: flex;
    align-items: flex-end;
    justify-content: space-around;    
    list-style: none;
    flex-direction: row;
    border: 1px solid red;
}
li {
    list-style: none; 
    text-decoration: none;   
    display: inline;
    font-size: 20px; 
    margin-right: 10px; 
    margin-left: 10px;  
    font-family: 'Roboto' sans-serif;
    font-weight: bold;
    color: #7ba376;
               
} 
li:hover {
    font-weight: bold;
    color: #7ba376;
    text-decoration: underline;
} 

.earth {
    width: 99%;
    height: 50vh;
    margin: 5px;
    position: relative;
    opacity: 80%;    
}
.card {
    min-width: 320px;
    margin: 5px;
    display: flex;
    position: relative;
    align-content: center;
    justify-content: left;
    flex-wrap: wrap;
    border: 1px solid #7ba376;
}
.team {
   min-width: 300px;  
   max-width: 400px; 
   position: relative;
   margin: 5px;
   border: 2px solid #7ba376;
   border-radius: 10%;
   
}


h2 {
    font-family: 'Roboto', sans-serif;
    color: #7ba376;
}
form {
    display: flex;
    flex-direction: column;
}
footer {
    font-family: 'Roboto', sans-serif;
    background-color: white;    
    padding: 40px 0;    
    text-align: center;    
    padding-bottom: 25px;
}
.social {
    font-size: 24px;
    text-align: center;    
    padding-bottom: 25px;
        
}
footer .social a {    
    width: 40px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    border: 1px solid #7ba376;
    color: #7ba376;
    border-radius: 50%;
    padding: 5px;
    margin: 5px;
}
footer ul {
    font-size: 20px;    
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;    
}
footer ul li a {
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: #7ba376;
    text-decoration: none;
}