body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: scroll;
}
header {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-image: url(../images/astronaut-4456106_1920.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.logo-title {
    font-style: italic;
    font-weight: bold;
    color: #7ba376;
    position: relative;
    right: 220px;
    text-shadow: 2px 2px 2px #000000;
}
.logo {
    position: relative;
    top: 10px;
}
.nav-bar {
    width: 100%;
    max-height: 50px; 
    padding: 10px 0;
    z-index: 5;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav {
    min-width: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav__list {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-left: 10px;
    list-style: none;
}
.nav__link {
    color: #7ba376;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.nav__link:hover {
    font-weight: bold;
    color: #7ba376;
    text-decoration: underline;
}
.header-content{
    max-width: 600px;
    margin-right: 100px;
    color: #7ba376;
    text-shadow: 2px 2px 2px #000000;
}
.header-question-second {
    position: relative;
    bottom: 10px;
    left: 50px;
}
.header-question-first {
    font-family: 'Roboto', sans-serif;
    position: relative;
    left: 90px;
}
.header-motto {
    font-size: 50px;
    color: white;
}
.features {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-image: url(../images/universe-4609408_1920.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.features-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.features-title {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px #000000;
    font-size: 50px;
    font-style: italic;
    position: relative;
    bottom: 200px;
}
.features-content {
    color: black;
    font-weight: bold;
    font-size: 25px;
    font-style: italic;
    position: relative;
    bottom: 220px;
}
.features-content:hover {
    color: #7ba376;
    text-shadow: 2px 2px 4px #000000;
    transition: all 0.3s ease-in;
    cursor: pointer;
    transform: scale(1.1);  
}
.square {
    background-color:  #7ba376;
    opacity: 0.3;
    width: 600px;
    height: 500px;
    position: relative;
    top: 287px;
}
.btn__product {
    bottom: 280px;
    width: 200px;
    height: 40px;
    border: none;
    background-color: rgb(235, 134, 2);
    font-weight: bold;
    position: relative;
    bottom: 190px;
}
.btn__product:hover {
    background-color: white;
    border-radius: 10px;
    transition: all 0.3s ease-in;
    cursor: pointer;
    transform: scale(1.1);
}